<% @title = "Etusivu" %>
<% @custom_layout = true %>
<div class="container">
  <p>Tervetuloa OKKY:n verkkosivuille.</p>
  <p>
    Olarin koti ja koulu -yhdistys edistää koulun ja vanhempien välistä
    yhteistyötä oppimisen tukena.
  </p>
</div>
<div class="container">
  <h2>Ajankohtaista</h2>
  <div class="updates">
    <div class="update">
      <h5>Kotisivujen suunnittelukilpailu</h5><hr>
      Hyvät nettisivut ovat nykyaikana menestyksen salaisuus. Hyvien nettisivujen tekemisen osaaminen on teille jokaiselle käyntikortti menestykseen...
    </div>
    <div class="update">
      <h5>Yhdistyksen vuosikokous 16.9.2015</h5><hr>
      Aika: 16.9.2015 klo 18
      Paikka: Olarin koulu, auditorio...
    </div>
    <div class="update">
      <h5>OKKY jäsenmaksut kaudelle 2015-2016</h5><hr>
      TILINUMERO: Nordea FI29 1112 3000 3318 32
      SAAJA: Olarin koulu ja koti –yhdistys ry
      JÄSENMAKSU 2015-2016: 20 euroa...
    </div>
    <div class="update">
      <h5>Hyvää ja aurinkoista kesää</h5><hr>
      Olarin koulu ja lukio on tunnettu erinomaisesta hengestään. Tervetuloa mukaan kehittämään edelleen Olarin koulun ja lukion hyvää oppimis- ja kasvuympäristöä sekä ylläpitämään mahtavaa yhteishenkeä...
    </div>
  </div>
</div>
