// This file contains standard visual parameters for the whole app


// Fonts
$content_font: 'Lora';
$nav_font: 'Signika Negative';
$title_font: 'Montserrat';

// Colors
$col_nav: #00becf;
$col_light: #90cea0;
$col_footer: #001026;
$col_bg: #EEE;

$col_link: #1488ac;

// Color amplifiers
$nav_hover: rgba(white, 0.2);
$nav_active: rgba(black, 0.2);
$container_shadow: rgba(black, 0.2);
$container_odd: rgba(black, 0.05);
$footer_border: rgba(black, 0.2);
$nav_icons_color: rgba(black, 0.5);
$nav_icons_color_active: rgba(black, 0.8);

// Distances
$side_margin: 16rem;
$default_padding: 0.8em;

$sidebar_width: 16em;
$sidebar_width_small: 14em;

$menubar_height: 3.2rem;
