// This file contains standard visual parameters for the whole app



// Fonts
$nav_font: 'Signika Negative';
$title_font: 'Montserrat';

// Colors
$col_nav: #00becf;
$col_light: #90cea0;
$col_dark3: #082e32;
$col_dark2: #134b50;
$col_dark1: #3b787d;

// Color amplifiers
$nav_hover: rgba(white, 0.2);
$nav_active: rgba(black, 0.2);

// Distances
$side_margin: 16rem;
