<% @title = "Esikatsellaan sivua #{@page.title}" %>

<h2>Esikatsellaan sivua <%= @page.title %></h2><%# Move this to an admin bar...? %>
<%= link_to 'Muokkaa tätä sivua', edit_page_path(@page) %>
<hr/>

<%= @page.content.html_safe %><%# Not sterilized! Unsafe! %>
