
@import 'shared/variables';

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: $content_font;
  background-color: $col_bg;
}

header {
  // Remove line-height to hide a white line between the image and the
  // navigation bar
  line-height: 0%;
}

img.front-banner {
  width: 100%;
}

// Navigation
nav {
  background-color: $col_nav;
  font-family: $nav_font;
  
  padding-right: $side_margin - 0.8rem;
  
  box-shadow: 0 1px 4px rgba(black, 0.2),     // Bottom shadow
              0 1px 0 rgba(white, 0.3) inset; // Slight embossment
  z-index: 10;
  display: flex;
  align-items: center;
  
  line-height: normal;
  h1 {
    font-family: $title_font;
    
    width: $side_margin - 0.8rem;
    color: rgba(black, 0.2);
    font-size: 2.5rem;
    line-height: $menubar_height;
    align-self: stretch;
    
    margin: 0;
    text-align: center;
  }
  
  .items {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    
    // When out of space in the menu, allow scrolling (may look crude with non-mobile)
    white-space: nowrap;
    overflow-x: auto;
    a {
      padding: 0 1.4rem;
      line-height: $menubar_height;
      color: black;
      &:hover {
        background-color: $nav_hover;
      }
      &:active {
        background-color: $nav_active;
        box-shadow: 0 2px 5px $nav_active inset;
      }
      &.material-icons {
        padding: 0 1rem;
        color: rgba(black, 0.6);
      }
    }
  }
  span.divider { // An in-betweener between .items and the search form.
                 // Has no content, only serves as a divider.
    flex-grow: 1;
  }
  form.search {
    white-space: nowrap;
    input {
      background-color: transparent;
      border: 0;
      &[type='submit'] {
        vertical-align: middle;
        padding: 0;
        color: $nav_icons_color;
        transition-duration: 200ms;
        &:hover {
          color: $nav_icons_color_active;
        }
      }
      &[type='text'] {
        font-family: inherit;
        background-color: $col_bg;
        padding: 0.2em;
        width: $side_margin;
        width: $sidebar_width;
        &:focus {
          box-shadow: 1px 2px 4px rgba(black, 0.1);
        }
      }
    }
  }
}

div.container {
  color: black;
  
  padding: 1em $side_margin;
  
  h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  &:nth-of-type(2n) {
    background-color: $container_odd;
    position: relative;
    z-index: 9;
  }
}

footer {
  border-top: solid 2px $footer_border;
  background-color: $container_odd;
  
  margin: 0 $side_margin;
  padding: 1em 0;
  text-align: center;
  
  margin-top: 10em;
  span.text {
    display: inline-block;
  }
}

a {
  text-decoration: none;
  color: $col_link;
}
