// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/variables';

.updates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .update {
    width: 16em;
    flex-grow: 1;
    max-width: 24em;
    padding: 0.6em;
    text-align: justify;
    h5 {
      margin: 0;
      font-family: "Signika Negative";
    }
    hr {
      width: 2em;
      text-align: left;
      @include margin-horizontal(0);
    }
  }
}
