@import 'shared/variables';

@media screen and (max-width: 1200px) {
  $new-side-margin: $side-margin/2;
  div.container {
    @include padding-horizontal($side-margin/2);
  }
  nav {
    padding-right: $side_margin/2 - 1rem;
  }
  footer {
    @include margin-horizontal($side-margin/2);
  }
  .flash {
    @include padding-horizontal($side-margin/2);
  }
}

@media screen and (max-width: 1000px) {
  div.container {
    @include padding-horizontal($default_padding);
  }
  nav {
    padding-right: $default_padding;
    h1 {
      width: initial;
      @include margin-horizontal(1rem);
    }
    form.search input[type='text'] {
      width: $sidebar_width_small;
    }
  }
  footer {
    @include margin-horizontal(0);
  }
}


$mobile_width: 860px;
// Mobile mode
@media screen and (max-width: $mobile_width) {
  .hide-on-mobile {
    display: none !important;
  }
  .mobile-exclusive {
    display: inherit;
  }
  nav {
    flex-wrap: wrap;
    padding-left: $default_padding;
    h1 {
      margin: 0;
    }
    &:not(.open) {
      .items, form.search {
        display: none;
      }
    }
    &.open {
      form.search {
        order: 1;
        width: 100%;
        text-align: center;
        input[type="text"] {
          font-size: 18px;
        }
      }
      .items {
        order: 2;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        
        margin-top: $default_padding;
      }
    }
  }
}
@media screen and (min-width: $mobile_width + 1px) { // Non-mobile mode
  .mobile-exclusive {
    display: none !important;
  }
}

a.mobile-menu {
  color: $nav_icons_color;
  width: 2em;
  text-align: center;
  align-self: stretch;
  line-height: $menubar_height;
  user-select: none;
  &:active {
    color: $nav_icons_color_active;
  }
}



// Super small display
@media screen and (max-width: 320px) {
  nav form.search input[type="text"] {
    width: 80%;
  }
}

// Really f***ing small display
@media screen and (max-width: 242px) {
  nav h1 {
    font-size: 24px;
  }
}
