// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'shared/variables';

// Display of pages

table {
  max-width: 100%;
  overflow: scroll;
  border: 0;
  border-spacing: 4px;
  td, th {
    border-radius: 0.2em;
    padding: 0.6em;
    border: 0;
    background-color: rgba(black, 0.12);
  }
  th {
    background-color: rgba(black, 0.2);
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: rgba(black, 0.6);
}

img {
  max-width: 100%;
  height: auto !important;
}

blockquote {
  border-left: 6px solid rgba(black, 0.3);
  margin-left: 1.6em;
  margin-right: 1em;
  padding-left: 0.6em;
  &::before {
    content: "format_quote";
    color: #555;
    position: absolute;
    margin-left: -1.8em;
    
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  }
}





// Meta & forms

a.page-preview {
  display: block;
  .title {
    font-size: 22px;
    border-bottom: 2px dotted black;
  }
  .path {
    color: gray;
  }
  .content {
    display: block;
    color: black;
    margin-top: 0.6em;
  }
}

form.edit_page {
  .section {
    margin-bottom: 1em;
    .errors {
      color: red;
    }
  }
  .title {
    input {
      font-family: inherit;
      font-size: 24px;
      background: transparent;
      border: 0px solid gray;
      border-bottom-width: 2px;
      width: 100%;
      margin-bottom: 0.2em;
      &:hover {
        border: 0px solid black;
        border-bottom-width: 2px;
      }
      &:focus {
        border: 0px solid $col_link;
        border-bottom-width: 2px;
      }
    }
  }
  .location {
    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid gray;
      font-family: inherit;
      color: black;
    }
  }
  .field_with_errors {
    display: inline-block;
    color: red;
  }
}
