// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.page-preview {
  display: block;
  .title {
    font-size: 22px;
    border-bottom: 2px dotted black;
  }
  .path {
    color: gray;
  }
  .content {
    display: block;
    color: black;
    margin-top: 0.6em;
  }
}
